*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:  rgb(48, 48, 48);
}

body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    min-width: 300px;
    height: 100vh;
}

a {
    text-decoration: none;
}






/* HEADER */






header {
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-color: rgb(48, 48, 48);
}

.separator {
    width: 100%;
    height: 1px;
    background-color: aliceblue;
    margin: 4px 0;
}

.header_links {
    display: flex;
    gap: 1em;
    margin: 1em .5em;
}

.header_link_items {
    list-style-type: none;
    color: aliceblue;
    font-size: .7rem;
}

h1 {
    color: aliceblue;
    font-size: 1.8em;
    margin: .25em .25em;
}

@media (min-width: 770px) {
    
    header {
        flex-direction: row;
        padding: 1em 0 1em 2em;  
        background-color: rgb(48, 48, 48);
        width: 100%;
    }
    
    .header_links {
        width: 60%;
        padding: .5em;
        margin: 0 0 0 2em;
        justify-content: space-around;
    }
    
    .header_link_items {
        list-style-type: none;
        display: inline;
        color: aliceblue;
        font-size: clamp(.8rem, 1vw, 1rem);
    }
    
    h1 {
        font-size: clamp(1.8rem, 2vw, 2rem);
    }

    .separator {
        display: none;
    }
}






/* MAIN */





main {
    flex-grow: 1;
}

#main_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 1em;
    gap: 1em;
    margin: 2em auto;
    border: 2px solid rgb(141, 147, 152);
    border-radius: 30px;
}

.main_nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 19vh;
    width: 100%;
    gap: 1em;
    padding: .5em;
    border: 2px solid rgb(141, 147, 152);
    border-radius: 20px;
    background-color: rgb(221, 230, 238);
}

.main_nav_links:hover {
    background-color: rgb(141, 147, 152);
    border: 2px solid rgb(48, 48, 48);
}

.main_nav_heading {
    font-size: 1.25rem;
}

.main_nav_icons {
    height: 60%;
}

.h2_container {
    border: 2px solid  rgb(48, 48, 48);
    border-radius: 20px;
    padding: .5em;
    text-align: center;
    margin: 4em auto 2em;
    width: 90%;
}

h2 {
    font-size: 1.75rem;
    font-weight: 400;
}

@media (min-width: 600px) {

    #main_nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin-bottom: 6em;
    }
    
    .main_nav_links {
        display: flex;
        flex-direction: column;
        padding: .5em;
        height: 40vh;
        padding: .5em;
        gap: 2rem;
    }
    
    .main_nav_heading {
        font-size: clamp(1.05rem, 2vw, 2rem);
        text-align: center;
    }
    
    .main_nav_icons {
        width: 90%;
        max-width: 175px;
        height: auto;
    }
    
    .h2_container {
        width: 90%;
        max-width: 650px;
    }
    
    h2 {
        font-size: clamp(1.75rem, 3vw, 3rem);
    }       
}

/* ROTD */

.rotd {
    display: flex;
    flex-direction: column;
}

.rotd_image_container {
    overflow: hidden;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotd_image {
    padding-top: 4em;
    width: 110%;
    min-width: 550px;
    object-fit: cover;
}

.rotd_description {
    padding: 2em;
    text-align: left;
    background-color: rgb(208, 217, 225);
}

h3.rotd_recipe_h {
    font-size: 1.25rem;
    font-weight: 400;
} 

.rotd_description_p {
    font-size: 1rem;
    margin-top: 1em;
}

@media (min-width: 600px) {
    .rotd_nav {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        min-height: 350px;
        margin-bottom: 6em;
        aspect-ratio: 1000 / 350;
    }
    
    .rotd_description {
        position: absolute;
        align-self: flex-start;
        width: 30%;
        min-width: 250px;
        bottom: 10%;
        left: 2.5%;
        border-radius: 25px;
        border: 2px solid rgb(48, 48, 48);
        z-index: 1;
        text-align: left;
        background-color: aliceblue;
    }
    
    .rotd_image {
        position: absolute;
        height: auto;
        object-fit: cover;
    }
    
    h3.rotd_recipe_h {
        font-size: clamp(1.15rem, 2vw, 2rem);
        font-weight: 400;
    } 
    
    .rotd_description_p {
        margin-top: 5%;
        font-size: clamp(.75rem, 1vw, 1rem);
    }
}

/* FEATURED */

.featured_recipes_nav {
    width: 100%;
    display: flex;
    height: 30vh;
    margin: 2em 0;
}

.featured_a_panel {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.featured_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.featured_b_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 1em;
    gap: .5em;
    text-align: left;
    background-color: rgb(208, 217, 225);
}

.featured_description_p {
    display: none;
}

.featured_adj {
    background-color: rgb(48, 48, 48);
    color: aliceblue;
    padding: .25em;
    border-radius: 5px;
    font-weight: 400;
}

.featured_recipe_h {
    font-weight: 400;
    font-size: 1.3rem;
}

@media (min-width: 600px) {
    .featured_recipes_nav {
        height: 60vh;
        margin-bottom: 4em;
    }
    
    
    .featured_b_panel {
        padding: 2em;
        gap: 1em;
    }
    
    .featured_description_p {
        display: flex;
        font-size: clamp(.8rem, 1.25vw, 1.25rem);
        max-width: 500px;
    }
    
    .featured_adj {
        padding: .5em;
        font-size: clamp(1rem, 1.5vw, 1.5vw);
    }
    
    .featured_recipe_h {
        font-size: clamp(1.3rem, 2.25vw, 2.25rem);
    }
}

/* SUBSCRIBE */

.subscribe_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
    background-color: rgb(48, 48, 48);
}

.subscribe_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    width: 90%;
    text-align: center;
    padding: .75em;
    border-radius: 20px;
    background-color: aliceblue;
}

.subscribe_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 4vh;
    font-size: 1rem;
    padding: 1em;
    background-color:  rgb(197, 206, 213);
    border: none;
    border-radius: 10px;
}

.subscribe_btn:hover {
    background-color: rgb(48, 48, 48);
    color: aliceblue;
    cursor: pointer;
} 

.subscribe_nav_p {
    font-size: .7rem;
}

.subscribe_h {
    font-size: .9rem;
    font-weight: 600;
}

@media (min-width: 600px) {
    .subscribe_container {
        display: flex;
        justify-content: space-around;
        max-width: 500px;
        height: 18vh;
    }

    .subscribe_h {
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    }

    .subscribe_nav_p {
        font-size: clamp(.7rem, 1rem, 1vw);
    }
}






/* FOOTER */







footer {
    text-align: left;
}

.footer_nav {
    background-color: rgb(221, 230, 238);
    padding: 1em 2em;
}

.footer_branding_top {
    padding: .5em 0;
}

.footer_branding_top,
.footer_branding_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25em;
    padding-left: 2em;
}

.footer_p {
    font-size: .75rem;
}

.footer_nav_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 1em;
    max-width: 1100px;
}

.footer_branding_bottom {
    background-color: rgb(197, 206, 213);
    height: 2em;
}

.footer_panels {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.footer_links  {
    font-size: .75rem;
}

.insta,
.facebook,
.x_logo {
    height: 2em;
    margin-right: .5em;
}

.x_logo {
    margin: 0;
}

.footer_subscribe_btn {
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(197, 206, 213);
    border: none;
    margin-top: .5em;
    padding: .5em;
    font-size: .75rem;
}

.footer_subscribe_btn:hover {
    background-color: rgb(48, 48, 48);
    color: aliceblue;
    cursor: pointer;
}

.footer_panel_sub {
    width: max-content;
}

h6 {
    font-size: 1rem;
    font-weight: 400;
}






/* MEAL PLANS / SHOPPING LISTS */






h2.meal_plans_h,
.shopping_lists_h {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: .5em;
    margin: 1em auto;
    background-color: rgb(221, 230, 238);
    border: 2px solid rgb(208, 217, 225);
    border-radius: 0;
    border-style: solid none;
}

h2.plan_week {
    font-size: 1.25rem;
}

.plan_icons {
    height: 60%;
}

.plan_grids_alt {
    direction: rtl;
}

.plan_grids,
.plan_grids_alt {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: .5em;
    padding: .5em;
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    background-color: rgb(221, 230, 238);
    border: 3px solid rgb(208, 217, 225);
  }

.title_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: .5em;
}

.plan_containers.title_card {
    height: 15vh;
    justify-content: space-around;
}

.plan_containers {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    height: 15vh;
    border-radius: 15px;
    border: 1px solid rgb(208, 217, 225);
    background-color: aliceblue;
}

.plan_imgs {
    object-fit: cover;
    width: 115%;
    height: 100%;
}

.quote {
display: block;
font-size: .9rem;
padding: .5em 1em;
margin: 2em auto;
text-align: center;
background-color: rgb(221, 230, 238);
border: 2px solid rgb(208, 217, 225);
border-style: solid none;
}

.plan_grids_alt.grid_end {
    margin-bottom: 2em;
}

h2.meal_plans_h,
.shopping_lists_h {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: .5em;
    margin: 1em auto;
    background-color: rgb(221, 230, 238);
    border: 2px solid rgb(208, 217, 225);
    border-radius: 0;
    border-style: solid none;
}


@media (min-width: 770px) {
    .plan_grids,
    .plan_grids_alt {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
    }
  
    .plan_containers.title_card,
    .plan_containers {
        height: 30vh;
    }

    .plan_imgs {
        object-fit: cover;
        width: 115%;
        height: 100%;
    }

    .quote {
        display: block;
        font-size: clamp(.9rem, 1.25vw, 1.25rem);
    }

    h2.plan_week {
        font-size: clamp(1.25rem, 3rem, 3vw);
    }

    .plan_icons {
        max-height: 150px;
    }
}






/* ALL RECIPES */






.all_recipes_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

.all_recipes_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: contain;
    border-radius: 15px;
    width: 80%;
    height: 22.5vh;
}

.chicken_recipes_image {
    position: absolute;
    width: 100%;
}

.all_recipes_tags {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    align-self: flex-start;
    top: 50%;
    background-color: aliceblue;
    min-width: 30%;
    padding: 1em 1em 1em 0;
    border-radius: 0 10px 10px 0;
    font-size: .75rem;
}

h2.all_recipes_h {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: .5em;
    margin: 1em auto 0 auto;
    background-color: rgba(221, 230, 238);
    border: 2px solid rgb(208, 217, 225);
    border-style: solid none;
}

.all_recipe_cat.top_cat {
    margin-top: 1em;
}

h3.all_recipe_cat {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 2em 0;
    border: 1px solid rgb(48, 48, 48);
    border-style: solid none solid none;
}


@media (min-width: 600px) {

    .all_recipes_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        justify-self: center;
        margin: auto;
        gap: 1em;
        margin-bottom: 6em;
    }
    
    .all_recipes_container {
        width: 100%;
        height: 22vh;
    }
    
    
    .all_recipe_cat.top_cat {
        margin-top: 2em;
    }

    .all_recipes_tags {
        font-size: clamp(.75rem, 1vw, 1rem);
    }
    
    h3.all_recipe_cat {
        font-size: clamp(1rem, 1.75vw, 1.75rem);
    }

    .all_recipes_grid.last_grid {
        margin-bottom: 2em;
    }
}

@media (min-width: 990px) {
    .all_recipes_grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .all_recipes_container {
        width: 100%;
        height: 30vh;
    }

    .all_recipes_grid.last_grid {
        margin-bottom: 2em;
    }
}






/* RECIPE CARDS */






.carousel {
    position: relative;
    height: 45vh;
    width: 90%;
    margin: 2em auto 5em; 
}

.carousel_images {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track_container {
    height: 100%;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 300ms ease-in-out;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.recipe_card_description {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    bottom: 2%;
    left: 2%;
    min-height: 2em;
    background-color: aliceblue;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 20px;
    padding: 1em;
}

.recipe_card_p {
    display: none;
}

h3.recipe_card_h {
    font-weight: 400;
    font-size: 1rem;
}

.carousel_button {
    position: absolute;
    top: 114%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_arrows {
    display: none;
    height: 40px;
}

.right_btn {
    right: 2em;
}

.left_btn {
    left: 2em;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.carousel_indicator {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: rgb(208, 217, 225);
}

.carousel_indicator.current_slide {
    background: rgb(48, 48, 48);
}

.is_hidden {
    display: none;
}

@media (min-width: 770px) {
    .carousel {
        height: 65vh;
        width: 80%; 
    }
    
    .recipe_card_description {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1em;
        z-index: 1;
        bottom: 1em;
        left: 1em;
        max-width: 60%;
    }
    
    .recipe_card_p {
        display: flex;
        font-size: clamp(1rem, 1.15vw, 1.15em);
    }
    
    h3.recipe_card_h {
        font-size: clamp(1rem, 2vw, 2rem);
    }
    
    .carousel_button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: 0;
        cursor: pointer;
    }
    
    .carousel_arrows {
        display: flex;
        height: 80px;
    }
    
    .right_btn {
        right: -10%;
    }
    
    .left_btn {
        left: -10%;
    }
    
    .carousel_nav {
        gap: 4em;
    }
    
    .carousel_indicator {
        width: 30px;
        height: 30px;
    }
}






/* RECIPE */






.recipe_description {
    margin: 0 1em;
    background-color: rgb(221, 230, 238);
}

.recipe_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
}

.recipe_intro,
ol {
    font-size: .8rem;
}

h3.recipe_sub-header {
    font-size: 1.15rem;
    margin-bottom: .5em;
    color: brown;
}

.underline {
    width: 100%;
    height: 2px;
    background-color: aliceblue;
    margin-bottom: .5em;
}

.cook_time,
.serving_size {
    margin-left: 1em;
    font-weight: 200;
    font-size: .8rem;
}

.recipe_ingredients {
    background-color: rgb(221, 230, 238);
}

.recipe_directions {
    background-color: rgb(221, 230, 238);
    margin-bottom: 2em;
}

.recipe_description,
.recipe_ingredients,
.recipe_directions {
    padding: 1em;;
    border-radius: 10px;
}

.serving_size {
    font-weight: 300;
    font-style: italic;
    margin-left: 5%;
}

.recipe_ingredients_items {
    list-style: none;
}

.recipe_ingredients_items {
    font-size: .8rem;
    line-height: 1.25rem;
}

li::marker {
    color: brown;
    font-weight: 600;
}

ol {
    list-style-position: inside;
    line-height: 1.5em;
}


h2.recipe_title {
    margin: .5em 5%;
    font-size: clamp(1.75rem, 2.5vw, 4rem);
}

@media (min-width: 600px) {

    .recipe_description {
        margin: 0 2vw;
    }
    
    .recipe_container {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        gap: 1em;
        margin: 1em 2vw 4em 2vw;
    }
    
    .recipe_intro,
    ol {
        font-size: clamp(.8rem, 1.15vw, 1.15rem);
    }
    
    h3.recipe_sub-header {
        font-size: clamp(1.15rem, 1.3vw, 1.3rem);
    }
    
    .cook_time,
    .serving_size {
        margin-left: 1em;
        font-weight: 200;
        font-size: clamp(.8rem, 1.1vw, 1.1rem);
    }
    
    .recipe_ingredients {
        width: 25%;
        min-width: 270px;
    }
    
    .serving_size {
        font-weight: 300;
        font-style: italic;
        margin-left: 2em;
    }
    
    .recipe_ingredients_items {
        font-size: clamp(.8rem, 1vw, 1rem);
        line-height: 1.5rem;
    }

    .recipe_directions {
        margin-bottom: 0;
        flex-grow: 1;
    }
    
    li::marker {
        color: brown;
        font-weight: 600;
    }
    
    ol {
        list-style-position: inside;
        line-height: 1.5em;
    }
    
    
    h2.recipe_title {
        margin: .5em 2vw;
        font-size: clamp(1.75rem, 3vw, 3rem);
    }
    
}





/* SHOPPING LIST */






.shoplist_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 1em;
    margin-bottom: 2em;
}

.shoplist_main_section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.shoplist_section {
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 230, 238);
    border-radius: 20px;
    padding: 1em;
}

.shoplist_cat_container {
    display: flex;
    align-items: center;
}

.shoplist_section.end_a,
.shoplist_section.end_b {
    background-color: aliceblue;
    padding: 0;
    gap: 1em;
}

.shoplist_small_section {
    background-color: rgb(221, 230, 238);
    border-radius: 25px;
    padding: 1em;
}

.cat_icon_container {
    height: 2.5em;
    width: auto;
    display: inline-block;
    margin-right: 1em;
}

.cat_icon {
    height: 100%;
}

.underline_shoplist {
    border-bottom: 1px solid rgb(48, 48, 48);
    margin: .5em 0;
}

.shop_list_items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: .75rem;
}


.shop_list_items li {
    display: flex;
    justify-content: space-between;
    padding: .5em 0;
    font-size: .75rem;
}

.shop_list_items li .quantity {
    width: 5em;
    text-decoration: underline;
    text-underline-offset: .35rem;
    color: brown;
}

h2.shoplist_h {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: .5em;
    margin: 1em auto;
    background-color: rgb(221, 230, 238);
    border: 2px solid rgb(208, 217, 225);
    border-radius: 0;
    border-style: solid none;
}

h3.shoplist_cat_h {
    font-size: .9rem;
    font-weight: 400;
}

@media (min-width: 600px) {

    .shoplist_main_section {
        flex-direction: row;
    }

    .shoplist_section {
        flex-grow: 1;
        width: 100%;
    }
    
    .shoplist_section.end_a,
    .shoplist_section.end_b {
        display: flex;
        flex-direction: row;
    }

    .shoplist_small_section {
        width: 100%;
        flex-grow: 1;
    }

    h3.shoplist_cat_h {
        font-size: clamp(.9rem, 1vw, 1rem)
    }

    .shop_list_items li,
    .shop_list_items {
        font-size: clamp(.75rem, 1vw, 1rem);
    }

}

@media (min-width: 990px) {

    .shoplist_container {
        flex-direction: row;
    }

    .shoplist_main_section {
        flex-direction: row;
        width: 50%;
    }

    .shoplist_section {
        flex-grow: 1;
        width: 100%;
    }
    
    .shoplist_section.end_a,
    .shoplist_section.end_b {
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    .shoplist_small_section {
        width: 100%;
        flex-grow: 1;
    }

    h3.shoplist_cat_h {
        font-size: clamp(.9rem, 1.25vw, 1.25rem)
    }

    .shop_list_items li,
    .shop_list_items {
        font-size: clamp(.75rem, 1vw, 1rem);
    }
}







/* ABOUT/NEW/NEWS/BLOG */






h2.about_h {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: .5em;
    margin: 1em auto;
    background-color: rgb(221, 230, 238);
    border: 2px solid rgb(208, 217, 225);
    border-radius: 0;
    border-style: solid none;
    }
    
    
    
    
    /* PLACEHOLDER IMAGE */
    
    .about_section {
        display: flex;
        height: 40vh;
        margin: 2em auto;
        width: 100%;
    }
    
    .placeholder {
        object-fit: cover;
        width: 80%;
        padding: 0 1em;
        background-color: rgb(221, 230, 238);
    }
    
    .curtain {
        flex: 1;
        background-color: rgb(208, 217, 225);;
    }
    